@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
    display: flex;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:lightgoldenrodyellow;
    margin: 10px, 10px, 10px, 40px;
    flex-direction: row;
}

.plant {
    width: 15%;
    font-size: 30px;

}
h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  display: flex;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

